.dialogs {
}

/*.dialogWrapper{*/
/*    border: 1px solid #87acec;*/
/*    border-radius: 5px;*/

/*}*/

.dialogsItems {
    /*display: grid;*/
    /*gap: 10px;*/
    /*padding: 10px;*/
}
.dialogItem {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avaName{
    display: flex;
    flex-direction: column;
}

.avaName img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
}

.activeLink {
    color: gold;
    text-decoration: none;
}

.dialogLink {
    text-align: center;
    color: white;
    text-decoration: none;
}

.messages {
}

.message {
    background-color: #59c7c8;
    border-radius: 10px;
    padding: 10px;
    color: white;
    text-decoration: none;
}
